@model IEnumerable<TT_FrontEnd.ViewModels.ToolBorrowCountViewModel>

@{
    ViewBag.Title = "GetToolBorrowCountReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tool Borrow Count</h2>


<table class="table">
	<tr>
		<th>
			Picture
		</th>
		<th>
			@Html.DisplayNameFor(model => model.ToolName)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.BorrowCount)
		</th>

		<th></th>
	</tr>

	@foreach (var item in Model)
	{
	<tr>

		<td>
			@if (item.picFileName != null && item.picFileName != string.Empty)
			{
				<img id="imageSource" src="~/UploadedFiles/@item.picFileName"
					 style="height:40px; width:40px; " />
			}
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.ToolName)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.BorrowCount)
		</td>


	</tr>
	}
</table>
	<div>
		<h2>Chart</h2>
		<img src="@Url.Action("DrawToolBorrowCountChart")" />
	</div>




