@model IEnumerable<TT_FrontEnd.Models.Borrower>

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
	@Html.ActionLink("New", "Create", null, new { @class = "glyphicon glyphicon-plus" })
</p>
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.BorrowerName)
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.BorrowerName)
			</td>
			<td>
				@Html.ActionLink("Edit", "Edit", new { id = item.BorrowerID }, new { @class = "glyphicon glyphicon-pencil" }) |
				@Html.ActionLink("Details", "Details", new { id = item.BorrowerID }, new { @class = "glyphicon glyphicon-list-alt" }) |
				@Html.ActionLink("Delete", "Delete", new { id = item.BorrowerID }, new { @class = "glyphicon glyphicon-trash" })
			</td>
		</tr>
	}

</table>

@section Scripts {

	@Scripts.Render("~/bundles/jqueryval")

	<script type="text/javascript">
		$(function () {
			var sm = '@TempData["SuccessMessage"]';

			if (sm != '')
				alertify.success(sm);

			var fm = '@TempData["FailureMessage"]';
			if (fm != '')
				alertify.error(fm);

		});

	</script>
}
