@model IEnumerable<TT_FrontEnd.Models.Workspace>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("New", "Create", null, new { @class = "glyphicon glyphicon-plus" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WorkspaceName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.WorkspaceName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.WorkspaceID }, new { @class = "glyphicon glyphicon-pencil" }) |
            @Html.ActionLink("Details", "Details", new { id=item.WorkspaceID }, new { @class = "glyphicon glyphicon-list-alt" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.WorkspaceID }, new { @class = "glyphicon glyphicon-trash" })
        </td>
    </tr>
}

</table>
