@model TT_FrontEnd.Models.Loan

@{
	ViewBag.Title = "Edit";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		<h4>Loan</h4>
		<hr />
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		@Html.HiddenFor(model => model.LoanID)

		<div class="form-group">
			@Html.LabelFor(model => model.BorrowerID, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.DropDownListFor(model => model.BorrowerID,
	Model.Borrowers, "Select Customer",
	htmlAttributes: new { @class = "form-control" })


				@Html.ValidationMessageFor(model => model.BorrowerID, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.WorkspaceID, "WorkspaceID", htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.DropDownListFor(model => model.WorkspaceID, Model.Workspaces, "SelectWorkspace",
	htmlAttributes: new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.WorkspaceID, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.DateBorrowed, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.TextBoxFor(model => model.DateBorrowed, new { @class = "datepicker form-control" })
				@Html.ValidationMessageFor(model => model.DateBorrowed, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.DateReturned, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.TextBoxFor(model => model.DateReturned, new { @class = "datepicker form-control" })
				@Html.ValidationMessageFor(model => model.DateReturned, "", new { @class = "text-danger" })
			</div>
		</div>


		<!--Addig Movie List-->
		<div class="form-group">
			<p>
				@Html.ActionLink("Add", "AddLoanedTool", new { Model.LoanID }, new { @class = "glyphicon glyphicon-plus" })
			</p>
			<h4>Tools Loaned</h4>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>
							Tool Brand
						</th>
						<th>
							Tool Name
						</th>
					</tr>

				</thead>
				@foreach (var item in Model.LoanTools)
				{
					<tr>

						<td>
							@item.Tool.Brand.BrandName
						</td>
						<td>
							@item.Tool.ToolName
						</td>
						<td>
							@Html.ActionLink("Remove", "RemoveLoanedTool", new { id = item.LoanToolID }, new { @class = "glyphicon glyphicon-trash" })
						</td>

					</tr>
				}


			</table>
		</div>


		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Save" class="btn btn-default" />
			</div>
		</div>
	</div>
}

<div>
	@Html.ActionLink("Back", "Index", null, new { @class = "glyphicon glyphicon-arrow-left" })
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")

	<script type="text/javascript">
		$(function () { // will trigger when the document is ready
			$('.datepicker').datepicker({

				format: "dd/mm/yyyy",
				weekStart: 1,
				daysOfWeekHighlighted: "0,6",
				autoclose: true,
				todayBtn: "linked",
			}); //Initialise any date pickers
		});

	</script>


		<script type="text/javascript">
		$(function () {
			var sm = '@TempData["SuccessMessageEdit"]';

			if (sm != '')
				alertify.success(sm);

		});

		</script>
	}




