@model TT_FrontEnd.Models.LoanTool

@{
    ViewBag.Title = "RemoveLoanedTool";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>RemoveLoanedTool</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>LoanTool</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Loan.LoanID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Loan.LoanID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tool.ToolName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tool.ToolName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
