@model TT_FrontEnd.ViewModels.TooListlViewModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3 id="toolDeleteWarning">
	@{if (Model.loanCount > 0)
		{
			@Html.Raw("<i class=\"glyphicon glyphicon-warning-sign\" style=\"color:#AA0000;\"></i>");
			@Html.Raw("This Tool is recorded in ");
			@Html.DisplayFor(model => model.loanCount);
			@Html.Raw(" loan");
			if (Model.loanCount > 1)
			{ @Html.Raw("s");
			}	
			

			@Html.Raw("</h3><p>Deleting this tool will permanently alter these records </p> <h3>");
		}
	}

</h3>

<h3>Are you sure you want to delete this?</h3>
<div>
	<h4>Tool</h4>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.ToolName)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.ToolName)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.BrandName)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.BrandName)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Decomissioned)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Decomissioned)
		</dd>

	</dl>

	@using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()

	<div class="form-actions no-color">
		<input type="submit" value="Delete" class="btn btn-default" /> |
		@Html.ActionLink("Back", "Index", null, new { @class = "glyphicon glyphicon-arrow-left" })
	</div>
	}
</div>


