@model TT_FrontEnd.ViewModels.TooListlViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
	<h4>Tool</h4>
	<hr />

	@if (Model.picFileName != null && Model.picFileName != string.Empty)

	{

		<div class="form-group">
			<img id="imageSource" src="~/UploadedFiles/@Model.picFileName"
				 style="height:200px; width:200px; " />
		</div>

	}
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayFor(model => model.ToolName)

		</dt>

		<dd>
			@Html.DisplayFor(model => model.ToolName)
		</dd>

		<dt>
			@Html.DisplayFor(model => model.BrandName)

		</dt>

		<dd>
			@Html.DisplayFor(model => model.BrandName)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Decomissioned)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Decomissioned)
		</dd>



	</dl>
</div>
<p>
	@Html.ActionLink("Edit", "Edit", new { id = Model.ToolId }, new { @class = "glyphicon glyphicon-pencil" }) |
	@Html.ActionLink("Back", "Index", null, new { @class = "glyphicon glyphicon-arrow-left" })
</p>
