@model TT_FrontEnd.ViewModels.TooListlViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TooListlViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ToolName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToolName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BrandName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrandName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Decomissioned)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Decomissioned)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ToolId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
