@model IEnumerable<TT_FrontEnd.ViewModels.TooListlViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ToolName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BrandName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Decomissioned)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ToolName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BrandName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Decomissioned)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ToolId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ToolId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ToolId })
        </td>
    </tr>
}

</table>
